body {
  background-color: rgb(80, 80, 80);
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 40px;
  background-color: rgb(80, 80, 80);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 40px;
}

/*
Header Anfang
*/

.hdr {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bordered {
  color: black;
  box-shadow: 0px 0px 12px 1px #2d3436;
  font-size: 25px;
  background-color: #232220;
  border-radius: 5px;
}

/*Popup*/
* {
  box-sizing: border-box;
}

.form {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: #f5f5f5;
  box-shadow: 5px 5px 10px 10px #333;
  border-radius: 10px;
}
.form .tab-header {
  height: 40px;
  line-height: 50px;
  border-radius: 5px;
}
.form .tab-header > div {
  width: 50%;
  float: left;
  text-align: center;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form .tab-header > div.active {
  background: #b28735;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form .tab-content {
  padding: 20px;
}

.form .tab-content .form-element {
  margin: 10px 0px;
}

.form .tab-content .form-element input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  font-size: 16px;
  background: #f5f5f5;
  border-radius: 5px;
  outline: none;
}

.form .tab-content .form-element label {
  color: white;
}

.form .tab-content .form-element button {
  margin-top: 5px;
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
  background: #b28735;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.form .tab-content > div.active {
  display: block;
}

.form .tab-content > div {
  display: none;
}

.close-button {
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 270px;
  background: #f5f5f5;
}
.form.active {
  display: block;
}
/*Popup end*/

/*HEADER*/
.container header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), hsla(0, 0%, 0%, 0.4)),
    url(picture/spielfeld2.jpg);
    background-size: 120%;
    animation: animatedBackground 120s linear infinite;
}

@keyframes animatedBackground {
    0% { background-position: -150 0; }
    50% { background-position: -300px 0; }
    100% { background-position: 0 0;}
}

.header-content {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.background {
  /* filter:saturate(0.5); */
  filter: brightness(50%);
}
h1 {
  filter: brightness(1);
  text-align: center;
  font-size: 4vw;
  color: white;
}

/*NAVI*/
ul {
  /* border: solid black;  */
  backdrop-filter: blur(10px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: black; 
    /* backdrop-filter: opacity(20%);*/
}

#open-close-nav{
    display: block;
}

.nav-item {
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 2vw;
  display: block;
  color: white;
  background: transparent;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: lightgreen;
}

.nav-list-item {
  float: left;
}

/*NAVI*/

/*
Game Anfang
*/

.content-game {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row: span 2;

}

/*
Game Ende
*/

/*
Player Anfang
*/
.content-player {
  MIN-WIDTH: 500PX;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
}

.playerName {
  flex-grow: 1;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button_player {
  margin-left: 10px;
  width: 130px;
}

.input-style				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  background: #232220;
  border:none;
  border-bottom:1px solid #757575;
  color: white;
}
input:focus 		{ outline:none; }

/*
Player Ende
*/

/*
Buttons Anfang
*/
.content-buttons {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  
}

.button {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 5px 5px 2px 1px rgba(23, 23, 24, 0.2);
}

.button-search {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#roomLink {
  margin-right: 10px;
}

.button3 {
  margin-left: 10px;
  border-radius: 50px;
  background-color: white;
  color: black;
}

/*
Buttons Ende
*/

/*
Footer Anfang
*/
/* FOOTER */

.fot {
  grid-column-start: 1;
  grid-column-end: span 2;
}
footer {
  position: relative;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  box-sizing: border-box;
  padding-top: 5px;
}
.fot-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.fot-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.socialmedia {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socialmedia a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.copyright {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.copyright span {
  padding-bottom: 40px;
  text-align: center;
}
.copyright p {
  float: left;
  font-size: 20px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.copyright p a {
  color: #44bae8;
  font-size: 18px;
  text-decoration: none;
}

.fot-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.fot-nav a {
  left: 200px;
  float: right;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bolder;
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.fot-nav a:hover {
  background-color: lightgreen;
}

/* FOOTER */

/* FOOTER */

/* Mobile Phone/Tablet
*/

@media only screen and (max-width: 870px) {
  .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
  }

  h1 {
    font-size: 30px;
    margin-top: 30px;
  }

  .menu-btn {
    z-index: 50;
    position: relative;
    float: right;
    margin: 20px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu_btn_burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu_btn_burger::before,
  .menu_btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .menu_btn_burger::before {
    transform: translateY(-16px);
  }

  .menu_btn_burger::after {
    transform: translateY(16px);
  }

  /*Animation*/
  .menu-btn.open .menu_btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu_btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu_btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  #open-close-nav {
    display: none;
  }

  .nav-item {
    font-size: 30px;
    background: transparent;
  }

  .content-game {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .content-player {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .content-buttons {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  ul {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .socialmedia
  {
    margin-top: 50px;
    display: -webkit-box;
  }

  .copyright p {
    margin: 0;
    text-align: center;
  }

  .fot-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .fot-menu li a {
    text-decoration: none;
    margin: 0 10px;
  }
}



