body{background-color: lightgray;}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    margin: auto;
    background-color: lightgray; 
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    grid-area:
    "hdr hdr hdr hdr hdr"
    "content-game content-game content-game";
    
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 0.5fr;
    grid-gap: 20px;
}


/*
Header Anfang
*/

.hdr{
    grid-column-start: 1;
    grid-column-end: 3;
}

.bordered{

    color: black;
    box-shadow: 0px 0px 12px 1px #2D3436;
    font-size: 25px;
    /*border: 1px solid black;*/
    background-color: white;
   
}
 

/*HEADER*/
.container header{
    /* filter: brightness(80%); */
    background-image: url('picture/spielfeld2.jpg');
}
h1 {
    text-align: center;
    font-size: 70px;
    color: white;
}

/*NAVI*/
ul {
    /* border: solid black;  */
    backdrop-filter: blur(10px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: black; 
    /* backdrop-filter: opacity(20%);*/ 

}

.nav-item{
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bolder;
    font-size: 40px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: lightgreen;
}

.nav-list-item {
    float: left;
}
/*NAVI*/
/*HEADER*/

  /*
Header Ende
*/

 /*
Game Anfang
*/

.content-game
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 2;
}
.content-game .bordered
{
    color: black;
    box-shadow: 0px 0px 12px 1px #2D3436;
    font-size: 25px;
    /*border: 1px solid black;*/
    background-color: red;
}
 /*
Game Ende
*/

 /*
Player Anfang
*/
.content-player{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row: span 1;
}

.content-player .bordered
{
    color: black;
    box-shadow: 0px 0px 12px 1px #2D3436;
    font-size: 25px;
    /*border: 1px solid black;*/
    background-color: red;
}

.button_player{
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 1% 0% 0% 9%;
    border-radius: 50px;
}

#Players
{
    margin: 7% 0% 0% 20%;
}


 /*
Player Ende
*/

 /*
Buttons Anfang
*/
.content-buttons{
   
}

.button
{
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    
}

.button1 {
    border-radius: 50px;
    margin: 10% 0% 0% 35%;
}
.button2 
{
    border-radius: 50px;
    margin-left:38%;
    margin-top:5%;
   
}
.button3 {
    border-radius: 50px;
    background-color: black;
    text-decoration: none;
    color: white;
}

#roomLink
{
    margin: 4% 0% 0% 27%;
    display: inline-block;
    font-size: 18px;
}




 /*
Buttons Ende
*/

 /*
Footer Anfang
*/
.footer{
    
    
   
}
 /*
Footer ende
*/

/* Mobile Phone/Tablet
*/



